<!doctype html>
<html>
<head>
    <title> welcome </title>
    <link rel="icon" href="static\love.png">
    <style>
        h1 {
          font-size: 40px;
          font-family: helvetica;
          font-weight: normal;
          color: rgb(59, 59, 59);
          text-align: center;
        }
        #banner {
            width: 100%;
            height: 360px;
            object-fit: cover;
        }
    </style>
    
</head>
<body>
    <h1> Tanim's first website</h1>
    <img id= 'banner' src="static\bg.jpg">
    <h2>About Tanim</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Donec erat dolor, aliquet sit amet consectetur ac, bibendum a ex.
         Maecenas leo sem, dapibus vel orci eget, molestie sodales justo.
         Suspendisse potenti. Integer eget consectetur nulla.
         Suspendisse sed nisi erat. Cras a turpis leo. Donec dictum, nunc id bibendum imperdiet, libero nulla fringilla purus, nec volutpat neque leo quis justo.
        Phasellus gravida non enim et eleifend.
    </p>
    <Button>Contact us</Button>



</body>

</html>